.header__container {
  padding: 50px;
  max-width: 100vw;
}

.header__logo {
  width: 120px;
}

@media only screen and (min-width: 768px) {
  .header__container {
    padding: 40px 50px;
  }

  .header__logo {
    width: 150px;
  }
}
